.profile-form{
  width: 45%;
  border-radius: 6px;
  padding : 40px 0px 40px 50px ;
}

label{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  width: 200px;
}

input {

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;


  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

}

input:focus{
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

button {

  width: 62px;
  height : 25px;
  margin-right: 27px ;
  margin-top: 10px;
  display: inline-block;
  outline: 0;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  vertical-align: middle;
  border: 1px solid #1b1f2326;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2ea44f;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;

}

button:hover {
  background-color: #2c974b;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.status {
  font-weight: bold;
}

.message {
  font-style: italic;
  text-decoration : underline dotted 1px;
  color : #e63946;
}
